/*.highlight { background-color: yellow }*/

.factCheckedText {
	background-color: whitesmoke;
	color: #873FCA;
    font-weight: bold;
    border: solid 1px #cccccc;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

.factCheckedText:hover {
	color: #DE319A;
    text-decoration: underline;
}